.elementor-821 .elementor-element.elementor-element-4979df3 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-821 .elementor-element.elementor-element-cd53e70 > .elementor-widget-container {padding: 12px 0px 0px 0px;}
.elementor-821 .elementor-element.elementor-element-e5a6605 > .elementor-widget-container {padding: 11px 0px 36px 0px;}