.elementor-1858 .elementor-element.elementor-element-5ec9800 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-1858 .elementor-element.elementor-element-9124fb5 > .elementor-element-populated {padding: 0% 2% 0% 0%;}
.elementor-1858 .elementor-element.elementor-element-5dc7992 {padding: 100px 0px 0px 0px;}
.elementor-1858 .elementor-element.elementor-element-d5f676c > .elementor-element-populated {padding: 0% 27% 0% 0%;}
.elementor-1858 .elementor-element.elementor-element-4cdcbf6 > .elementor-widget-container {margin: -28px 0px 0px 0px;padding: 0px 0px 0px 0px;}
@media (min-width:768px) {.elementor-1858 .elementor-element.elementor-element-5ec9800 {width: 100%;}
	.elementor-1858 .elementor-element.elementor-element-d5f676c {width: 100%;}}
@media (max-width:1024px) and (min-width:768px) {.elementor-1858 .elementor-element.elementor-element-9124fb5 {width: 100%;}}
@media (max-width:1024px) {.elementor-1858 .elementor-element.elementor-element-f7bf00e {margin-top: 0px;margin-bottom: 0px;padding: 0px 0px 0px 0px;}
	.elementor-1858 .elementor-element.elementor-element-5ec9800 > .elementor-element-populated {margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}
	.elementor-1858 .elementor-element.elementor-element-a17ef5f {margin-top: 0px;margin-bottom: 0px;padding: 0px 0px 0px 0px;}
	.elementor-1858 .elementor-element.elementor-element-9124fb5 > .elementor-element-populated {padding: 0px 0px 0px 0px;}}