.elementor-1426 .elementor-element.elementor-element-6bb1436 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-1426 .elementor-element.elementor-element-7a8f4f1 > .elementor-widget-container {padding: 12px 0px 0px 0px;}
.elementor-1426 .elementor-element.elementor-element-2de10f9 > .elementor-widget-container {padding: 11px 0px 30px 0px;}