.elementor-825 .elementor-element.elementor-element-45905b3 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-825 .elementor-element.elementor-element-d75822e > .elementor-widget-container {padding: 12px 0px 0px 0px;}
.elementor-825 .elementor-element.elementor-element-bc06011 > .elementor-widget-container {padding: 11px 0px 23px 0px;}