.elementor-1679 .elementor-element.elementor-element-65ee66b7 {margin-top: 57px;margin-bottom: 0px;padding: 0px 0px 0px 0px;}
.elementor-1679 .elementor-element.elementor-element-1f593ff1 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-1679 .elementor-element.elementor-element-7f5e1757 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 83px 0px 0px 0px;}
.elementor-1679 .elementor-element.elementor-element-2da36fa3 {margin-top: 0px;margin-bottom: 0px;padding: 18px 0px 30px 0px;}
.elementor-1679 .elementor-element.elementor-element-6fcfae09 > .elementor-element-populated {padding: 0px 19px 0px 0px;}
.elementor-1679 .elementor-element.elementor-element-79d60ec5 > .elementor-element-populated {padding: 0px 9.5px 0px 9.5px;}
.elementor-1679 .elementor-element.elementor-element-32f9e62d > .elementor-element-populated {padding: 0px 0px 0px 19px;}
.elementor-1679 .elementor-element.elementor-element-7c41c1f4 {padding: 0px 0px 30px 0px;}
.elementor-1679 .elementor-element.elementor-element-4276727e > .elementor-element-populated {padding: 0px 19px 0px 0px;}
.elementor-1679 .elementor-element.elementor-element-42374e3f > .elementor-element-populated {padding: 0px 9.5px 0px 9.5px;}
.elementor-1679 .elementor-element.elementor-element-63233c06 > .elementor-element-populated {padding: 0px 0px 0px 19px;}
.elementor-1679 .elementor-element.elementor-element-620bb88b {margin-top: 0px;margin-bottom: 0px;padding: 0px 0px 130px 0px;}
.elementor-1679 .elementor-element.elementor-element-69a7f190 > .elementor-element-populated {padding: 0px 19px 0px 0px;}
.elementor-1679 .elementor-element.elementor-element-6f15fa52 > .elementor-element-populated {padding: 0px 9.5px 0px 9.5px;}
.elementor-1679 .elementor-element.elementor-element-2eaa38ad > .elementor-element-populated {padding: 0px 0px 0px 19px;}
@media (max-width:1024px) and (min-width:768px) {.elementor-1679 .elementor-element.elementor-element-6fcfae09 {width: 100%;}
	.elementor-1679 .elementor-element.elementor-element-79d60ec5 {width: 100%;}
	.elementor-1679 .elementor-element.elementor-element-32f9e62d {width: 100%;}
	.elementor-1679 .elementor-element.elementor-element-4276727e {width: 100%;}
	.elementor-1679 .elementor-element.elementor-element-42374e3f {width: 100%;}
	.elementor-1679 .elementor-element.elementor-element-63233c06 {width: 100%;}
	.elementor-1679 .elementor-element.elementor-element-69a7f190 {width: 100%;}
	.elementor-1679 .elementor-element.elementor-element-6f15fa52 {width: 100%;}
	.elementor-1679 .elementor-element.elementor-element-2eaa38ad {width: 100%;}}
@media (max-width:1024px) {.elementor-1679 .elementor-element.elementor-element-1f593ff1 > .elementor-element-populated {margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}
	.elementor-1679 .elementor-element.elementor-element-7f5e1757 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 50px 0px 0px 0px;}
	.elementor-1679 .elementor-element.elementor-element-6fcfae09 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1679 .elementor-element.elementor-element-2e22d24c > .elementor-widget-container {padding: 0px 0px 0px 0px;}
	.elementor-1679 .elementor-element.elementor-element-79d60ec5 > .elementor-element-populated {padding: 30px 0px 30px 0px;}
	.elementor-1679 .elementor-element.elementor-element-32f9e62d > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1679 .elementor-element.elementor-element-4276727e > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1679 .elementor-element.elementor-element-42374e3f > .elementor-element-populated {padding: 30px 0px 30px 0px;}
	.elementor-1679 .elementor-element.elementor-element-63233c06 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1679 .elementor-element.elementor-element-69a7f190 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1679 .elementor-element.elementor-element-6f15fa52 > .elementor-element-populated {padding: 30px 0px 30px 0px;}
	.elementor-1679 .elementor-element.elementor-element-2eaa38ad > .elementor-element-populated {padding: 0px 0px 0px 0px;}}