.elementor-560 .elementor-element.elementor-element-2fa3c80 {padding: 0px 0px 0px 0px;}
.elementor-560 .elementor-element.elementor-element-a65323c > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-560 .elementor-element.elementor-element-c1fc9c9 > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-560 .elementor-element.elementor-element-dc46a17 > .elementor-widget-container {padding: 12px 0px 0px 0px;}
.elementor-560 .elementor-element.elementor-element-148d7a1 > .elementor-widget-container {padding: 11px 0px 30px 0px;}