.elementor-3117 .elementor-element.elementor-element-68500dc {padding: 0px 0px 0px 0px;}
.elementor-3117 .elementor-element.elementor-element-b755f19 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-3117 .elementor-element.elementor-element-fa30824 > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-3117 .elementor-element.elementor-element-57eb943 > .elementor-widget-container {padding: 12px 0px 0px 0px;}
.elementor-3117 .elementor-element.elementor-element-2602c31 > .elementor-widget-container {padding: 11px 0px 30px 0px;}