.elementor-1418 .elementor-element.elementor-element-0e528b7 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-1418 .elementor-element.elementor-element-ea0c6e4 > .elementor-widget-container {padding: 12px 0px 0px 0px;}
.elementor-1418 .elementor-element.elementor-element-18f26a6 > .elementor-widget-container {padding: 11px 0px 30px 0px;}